{% extends "layout.html" %}

{% block content %}
<sectin id="intro"> 
    <header>
        <a href="/">
            <img src="/logo.png" alt="Imagem Logo">
        </a>
        
    </header>       
   <main>
        <p>
            Ficar em casa em períodos longos, não deve ser nada fácil.
        </p>
        <p>
            Por isso, Iremos catalogar <strong>ideias, brincadeiras, jogos, filmes, livros, cursos, dicas</strong>  e tudo que for necessário para tornar esse momento mais interessante.
        </p>
        <p>
            Comece clicando em ver ideias para ver as  ideias cadastradas e contribua adicioando a sua ideia.
        </p>
   </main>

   <section id="buttons">
        <button onclick="onOff()">+ Adicionar ideia</button>
        <a href="/ideias" class="button">Ver Ideias</a>
   </section>

   <footer>
        Com ❤ <a href="http://rocketseat.com.br" target="blank">Rocketseat</a>
   </footer>

</sectin>

<sectin id="last-ideias">

    {% include "all_ideas.html" %}

</sectin>
{% endblock %}
